*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.clock{
    width: 300px;
    height: 300px;
    border: 20px solid #fff;
    border-radius: 50%;
    position: relative;
    background: url('clock-face.png');
    background-size: cover;
}


.hand{
    width: 50%;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 51%;
    left: 1%;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.second-hand{
    height: 2px;
    background: red;
}

.center{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


@media (max-width: 400px) {
        .clock{
            width: 200px;
            height: 200px;
            border-width :15px;
        }

        .hand{
            height: 4px;
        }

        .second-hand{
            height: 1px;
        }

        .center{
            width: 8px;
            height: 8px;
        }
    }
