*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

.clock{
    width: 500px;
    height: 500px;
    border: 20px solid #65a095;
    border-radius: 50%;
    position: relative;
    background: url('clock\ bg.jpg');
    background-size: cover;
}


.hand{
    width: 50%;
    height: 5px;
    background: #fff;
    position: absolute;
    top: 51%;
    left: 1%;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.second-hand{
    height: 3px;
    background: red;
}

.center{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


@media (max-width: 400px) {
        .clock{
            width: 200px;
            height: 200px;
            border-width :15px;
        }

        .hand{
            height: 4px;
        }

        .second-hand{
            height: 1px;
        }

        .center{
            width: 8px;
            height: 8px;
        }
    }

.time{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: #bc09d3;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

@media (max-width: 400px) {
    .time{
        font-size: 18px;
    }
}
